* {margin: 0;padding: 0;}

html{background: #E5E5E5;}

body{
    max-width: 1600px;
    margin: 10px auto 25px;
    background: white;
}

p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

/* - - - - - - - - - - - - - - - - - - - - - */

/*голова*/
.header{
    padding: 20px 15px 20px ;
    max-height: 10 vh;
    background-color: #222222;
}

.header__block{
    gap: 40px;
    margin: auto 25px;
    /* align-content: center; */
}

/*баннер*/
.banner{
    background: #F1E4E6;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
    .top>:nth-child(2){
        padding-left: 50px;
        padding-bottom: 100px;
}

/*предложения*/
.offer{
    padding-top: 60px;
    padding-bottom: 69px;
    display: grid;
    grid-template: 1fr 1fr / repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    column-gap: 30px;
}

    .offer>:nth-last-child(1){
        grid-column: 1/4;
}

.heading__3{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #222222;
}


/*продукты*/
.product{
    padding-top: 47px;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
    justify-items:center;
}
    .product a{
        grid-column: 1 /-1;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #F26376;
        padding: 15px 39px;
        border: solid 1px #F26376;
    }

.product__item{
    max-width: 350px;
}
    .product__item h6{
        margin: 25px auto 16px 16px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #000000;
    }
    .product__item>:nth-child(3){
        margin-left: 16px;
        margin-bottom: 16px;
    }
    .product__item>:nth-child(4){

        margin-left: 16px;
        margin-bottom: 16px;
        ont-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #F16D7F;
}


/* - - - - - - - - - - - - - - - - - - - - - */

.center{/*центрировать*/
    padding-left: calc(50% - 35%);
    padding-right: calc(50% - 35%);
}


/*цвета*/
.rose{color: #F16D7F;}

/*позиционирование*/
.flex{display: flex;}

.column{flex-direction: column;}

.wrap{flex-wrap: wrap;}

.jc-c{justify-content: center;}
.jc-fe{justify-content: flex-end;}
.jc-sb{justify-content: space-between;}
.jc-sa{justify-content: space-around;}

.item__c{align-items: center;}
.item__s{align-items: flex-start;}
.item__b{align-items: baseline;}


.grid{display: grid;}

.ji-c{justify-items: center;}


@media (min-width: 764px) and (max-width: 1024px) {
    
}

@media (max-width: 763) {
    
}